<div class="card">
    <div class="card-body">
      <h5 class="card-title text-center text-success">Search Sustainable Development Goals</h5>
      <form>
        <div class="mb-3">
          <label for="keyword" class="form-label">Keyword</label>
          <textarea class="form-control" placeholder="Keyword ..." id="keyword" rows="5"></textarea>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Process</button>
        </div>
      </form>
    </div>
  </div>